OPENAI_API_KEY=
NEXT_PUBLIC_OPENAI_MODEL=gpt-realtime-mini
OPENAI_REWRITE_MODEL=gpt-4.1-mini
# Redis Configuration  
REDIS_URL=redis://localhost:6372
# TTS Configuration
NEXT_PUBLIC_TTS_MODE=offline
TTS_WEBSOCKET_URI=
TTS_OFFLINE_URL=
# ASR Configuration
ASR_GRPC_URI=
ASR_PROXY_PORT=8082
NEXT_PUBLIC_ASR_PROXY_URL=
ASR_TOKEN=